* body {
    background-color: #282828;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#app {
    padding-top: 20px;
    text-align: center;
}

button {
    color: #c8ebf1;
    background-color: #6BA9B5;
    border: 1px #529AA8 solid;
    border-radius: 6px;
    font-size: 20px;
    width: 100px;
}

input {
    border: 3px #529AA8 solid;
    border-radius: 10px;
    width: 60%;
    font-size: 20px;
}

section {
    background-color: rgb(231, 231, 231);
    width: 80%;
    margin: auto;
    box-shadow: rgb(167, 167, 167) 3px 3px 5px 1px;
}

ul {
    list-style: none;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #fff;
    padding: 20px;
    padding-left: 20%;

}

ul li {
    background-color: #c9fa6ea8;
    color: #282828;
    word-spacing: 5px;
    letter-spacing: 1px;
    margin-top: 10px;
    width: 70%;
    padding: 8px;
    border-radius: 10px 10px 0 0;
}

ul li a {
    text-decoration: none;
    color: #529AA8;
}

ul li a:hover {
    opacity: 1;
    color: #F5BF90;
}